<%= form_with(model: question, url: url, local: true) do |form| %>

  <div class="form-group form-group-narrow">
    <%= form.label :template %>
    <%= form.select :template,
    Question.templates.map { |t| [ t.to_s.humanize, t ] },
    {},
    class: "form-control" %>
  </div>

  <div class="form-group">
    <%= link_to :Cancel,
    cancel, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>
