<%= form_with(url: quizmaster_question_path( question ), model: question, local: true) do |form| %>

  <%= render "/errors", object: question %>

  <div class="<%= question.template %>">
    <%= render "/questions/templates/#{ question.template }/edit", form: form %>
  </div>

  <div class="form-group">
    <%= link_to :Cancel, quizmaster_question_path( question ), class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
