<%= form_with(model: question, local: true) do |form| %>

  <%= render "/errors", object: question %>

  <%= render "/questions/templates/#{ question.template }/edit", form: form %>

  <div class="form-group">
    <%= link_to :Cancel, question_path( @question ), class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
