<% previous_question = @question.previous_question %>
<% next_question = @question.next_question %>
<div class="float-right">
  <% if previous_question %>
    <%= link_to fa("arrow-left") + " Previous", quizmaster_question_path( previous_question ), class: "btn btn-outline-primary" %>
  <% else %>
    <%= link_to fa("arrow-left") + " Previous", nil, class: "btn btn-outline-primary disabled" %>
  <% end %>
  <% if next_question %>
    <%= link_to fa("arrow-right") + " Next", quizmaster_question_path( next_question ), class: "btn btn-outline-primary" %>
  <% else %>
    <%= link_to fa("arrow-right") + " Next", nil, class: "btn btn-outline-primary disabled" %>
  <% end %>
  <%= link_to fa("arrow-up"), quizmaster_quizbook_path( @question.quizbook ), class: "btn btn-outline-primary" %>
</div>

<h2><%= @question %></h2>
<h4><%= quizbook_status_badge @question.quizbook %></h4>

<p class="float-right">
  <strong>ID</strong> <%= @question.id %>
</p>

<p>
  <strong>Quizbook</strong> <%= @question.quizbook %>
</p>

<p>
  <strong>Template</strong>
  <%= @question.template.to_s.humanize %>
</p>

<p>
  <strong>Ask</strong>
  <%= strip_tags( markdown @question.ask ) %>
  <br>
  <strong>Answer</strong>
  <%= @question.answer %>
  <br>
  <strong>Explanation</strong>
  <%= strip_tags( markdown @question.explanation ) %>
  <br>
  <strong>Points</strong>
  <%= @question.points %>
</p>

<div class="collapse" id="questionAdvancedDetailCollapse">
  <strong>Config</strong>
  <pre><%= @question.config_as_yaml %></pre>
  <strong>Scoring</strong>
  <pre><%= @question.scoring %></pre>
</div>

<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#questionAdvancedDetailCollapse" title="Detail">
  <%= fa "ellipsis-h" %>
</button>

<%= link_to fa("edit") + ' Edit',
  edit_quizmaster_question_path(@question),
  class: "btn btn-outline-primary #{ @question.quizbook.editable? ? '' : 'disabled' }" %>
<%= link_to fa("vial") + ' Test',
  quizmaster_question_test_path(@question),
  class: "btn btn-outline-primary" %>

<div class="float-right">
  <div class="dropdown d-inline-block">
    <button class="btn btn-outline-primary dropdown-toggle"
      data-toggle="dropdown">
      <%= fa("arrows-alt-v") + " Move" %>
    </button>
    <div class="dropdown-menu" aria-labelledby="questionMoveMenu">
      <%= button_to quizmaster_question_moveup_path(@question),
      disabled: @question.previous_question ? nil : 'disabled',
      class: "dropdown-item #{
        @question.previous_question ? '' : 'disabled'
      }" do %>
        <%= fa("arrow-up") + ' Up' %>
      <% end %>
      <%= button_to quizmaster_question_movedown_path(@question),
      disabled: @question.next_question ? nil : 'disabled',
      class: "dropdown-item #{
        @question.next_question ? '' : 'disabled'
      }" do %>
        <%= fa("arrow-down") + ' Down' %>
      <% end %>
    </div>
  </div>
  <%= link_to fa("crop") + ' Template',
  edit_quizmaster_question_template_path(@question),
  class: "btn btn-outline-info" %>
  <%= link_to fa("trash") + ' Delete',
  quizmaster_question_path(@question),
  method: :DELETE,
  data: { confirm:
    "Are you sure that you want to delete this question?"
  },
  class: "btn btn-outline-danger #{
    @question.quizbook.draft? ? '' : 'disabled'
  }" %>
</div>

<hr>
<%= render 'questions/files', question: @question %>
