<%= link_to fa("arrow-up"), @question.quiz, class: "btn btn-outline-primary float-right" %>
<h2><%= @question %></h2>

<p>
  <strong>Quiz</strong>
  <%= @question.quiz %>
</p>

<p>
  <strong>Ask</strong>
  <%= strip_tags @question.ask_html %>
</p>

<p>
  <strong>Answer</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Form type</strong>
  <%= @question.form_type.humanize %>
</p>

<strong>Config</strong>
<pre><%= @question.config_yaml %></pre>

<% if false %>
  <%= form_with( url: answer_forms_path( question_id: @question.id ), local: true ) do |form| %>
    <div class="clearfix">
      <div class="form-group form-group-inline">
        <%= select_tag :'answer_form[type]', options_for_select( AnswerForm.type_options ), class: "form-control" %>
      </div>
      <div class="form-group form-group-inline">

      </div>
    </div>
  <% end %>
<% end %>


<%= link_to fa("trash") + ' Delete', question_path(@question), method: :DELETE, data: { confirm: "Are you sure that you want to delete this question?" }, class: "btn btn-outline-danger float-right" %>
<%= link_to fa("edit") + ' Edit', edit_question_path(@question), class: "btn btn-outline-primary" %>
<%= link_to fa("caret-up") + ' Move up', question_moveup_path(@question), class: "btn btn-outline-primary #{ @question.number == 1 ? 'disabled' : '' }" %>

<hr>
<div class="rendered_question_ask">
  <%= @question.ask_html.html_safe %>
</div>

<%= render 'questions/answer_form', question: @question, url: question_test_path( @question ), http_method: :POST, local: false %>
<hr>
<div id="question_test_result">
</div>
