<%= link_to fa('arrow-up'), quizmaster_path, class: "btn btn-outline-primary float-right" %>
<h2>Quizzes</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>League</th>
      <th>Number</th>
      <th>Quizbook</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.id %></td>
        <td><%= quiz.league %></td>
        <td><%= quiz.number %></td>
        <td><%= quiz.quizbook %></td>
        <td><%= quiz_status_badge quiz %></td>
        <td width="1"><%= link_to fa("arrow-right"), quizmaster_quiz_path( quiz ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
