<%= link_to fa('arrow-up'), quizmaster_path, class: "btn btn-outline-primary float-right" %>
<h2><%= @quiz.to_s :short %></h2>

<p>
  <strong>Start</strong> <%= @quiz.start %>
</p>

<p>
  <strong>Duration</strong> <%= @quiz.duration_value %> <%= @quiz.duration_units %>
</p>

<div class="clearfix">
  <% if @quiz.queued? %>
    <div class="float-right">
      <%= link_to fa("clock") + ' Dequeue', quiz_dequeue_path(@quiz), method: :POST, class: "btn btn-danger",
      data: { confirm: "Are you sure that you want the quiz removed from the queue?" } %>
      <%= link_to fa("calculator") + ' Recalculate', quiz_recalculate_path(@quiz), method: :POST, class: "btn btn-danger",
      data: { confirm: "Are you sure that you want to recalculate the scores on all plays of this quiz?" } %>
    </div>
  <% else %>
    <%= link_to fa("edit") + ' Edit', edit_quiz_path(@quiz), class: "btn btn-outline-primary" %>
    <div class="float-right">
      <% if @quiz.start && @quiz.start.future? %>
        <%= link_to fa("clock") + ' Enqueue', quiz_enqueue_path(@quiz), method: :POST, class: "btn btn-warning",
        data: { confirm: "Are you sure that the quiz is ready to go into the queue?" } %>
      <% end %>
      <%= link_to fa("trash") + ' Delete', quiz_path(@quiz), method: :DELETE,
      data: { confirm: "Are you sure that you want to delete this quiz?" }, class: "btn btn-outline-danger #{'disabled' if @quiz.questions.any?}" %>
    </div>
  <% end %>
</div>

<hr>

<%= link_to fa("plus") + ' New', questions_path( quiz_id: @quiz.id ), method: :POST, class: "btn btn-outline-primary float-right" %>
<h2>Questions</h2>
<ol>
  <% @quiz.questions.each do |question| %>
    <%= link_to content_tag( :li, strip_tags(question.ask_html) ), question %>
  <% end %>
</ol>
