<%= link_to fa('arrow-up'), quizmaster_path, class: "btn btn-outline-primary float-right" %>

<h2><%= @quiz %></h2>

<p class="float-right">
  <strong>ID</strong> <%= @quiz.id %>
</p>

<h4><%= quiz_status_badge @quiz %></h4>

<p>
  <strong>League</strong> <%= @quiz.league %>
</p>

<p>
  <strong>Fee</strong> <%= @quiz.fee %>
<br>
  <strong>Pool</strong> <%= @quiz.pool %>
</p>


<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>Start</strong> <%= @quiz.start %>
    <br>
      <strong>Stop</strong> <%= @quiz.stop %>
    <br>
      <strong>Tally</strong> <%= @quiz.tally %>
    <br>
      <strong>Close</strong> <%= @quiz.close %>
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      <% if @quiz.start && @quiz.stop %>
        <strong>Play</strong> <%= distance_of_time_in_words( @quiz.stop - @quiz.start ) %>
        <br>
      <% end %>
      <% if @quiz.stop && @quiz.tally %>
        <strong>Pending</strong> <%= distance_of_time_in_words( @quiz.tally - @quiz.stop ) %>
        <br>
      <% end %>
      <% if @quiz.tally && @quiz.close %>
        <strong>Results</strong> <%= distance_of_time_in_words( @quiz.close - @quiz.tally ) %>
        <br>
      <% end %>
    </p>
  </div>
</div>

<div class="clearfix">

<% if @quiz.draft? %>
  <%= link_to fa("edit") + ' Edit',
  edit_quizmaster_quiz_path( @quiz ),
  class: "btn btn-outline-primary" %>
  <div class="float-right">
    <%= link_to fa("trash") + ' Delete',
    quizmaster_quiz_path( @quiz ), method: :DELETE,
    data: { confirm: "Are you sure that you want to delete this quiz?" },
    class: "btn btn-outline-danger" %>
    <div class="btn-group">
      <%= link_to quizmaster_quiz_status_path( @quiz, status: :live ),
      method: :patch,
      class: "btn btn-outline-success",
      data: { confirm: "Are you sure that you want this quiz to go live?" } do %>
        <%= fa("play") + ' Go live' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @quiz.live? %>
  <div class="float-right">
    <div class="btn-group">
      <%= link_to quizmaster_quiz_status_path( @quiz, status: :draft ),
      method: :patch,
      class: "btn btn-outline-danger",
      data: { confirm: "Are you sure that you want to abort this quiz?" } do %>
        <%= fa("bomb") + ' Abort' %>
      <% end %>
      <% if @quiz.stage == :complete %>
        <%= link_to quizmaster_quiz_status_path( @quiz, status: :archived ),
        method: :patch,
        class: "btn btn-outline-secondary",
        data: { confirm: "Are you sure that you want to archive this quiz?" } do %>
          <%= fa("file-archive") + ' Archive' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @quiz.archived? %>
  <div class="float-right">
    <div class="btn-group">
      <%= link_to quizmaster_quiz_status_path( @quiz, status: :draft ),
      method: :patch,
      class: "btn btn-outline-secondary",
      data: { confirm: "Are you sure that you want to redraft this quiz?" } do %>
        <%= fa("file") + ' Redraft' %>
      <% end %>
    </div>
  </div>
<% end %>




<% if false %>



  <% if @quiz.draft? %>
  <% end %>
  <% if @quiz.live? %>
    <div class="float-right">
      <%= link_to fa("flag-checkered") + ' Draft', quizmaster_quiz_publish_path( @quiz ), method: :DELETE, class: "btn btn-outline-danger",
      data: { confirm: "Are you sure that you want this quiz to revert to a draft?" } %>
    </div>
  <% end %>

  <% if false && @quiz.approved && @quiz.start.future? %>

    <div class="float-right">
      <%= link_to fa("clock") + ' Publish', quizmaster_quiz_publish_path( @quiz ), method: :POST, class: "btn btn-danger",
      data: { confirm: "Are you sure that you want the quiz removed from the queue?" } %>
      <%= link_to fa("calculator") + ' Recalculate', quizmaster_quiz_recalculate_path( @quiz ), method: :POST, class: "btn btn-danger",
      data: { confirm: "Are you sure that you want to recalculate the scores on all plays of this quiz?" } %>
    </div>
    <%= link_to fa("trash") + ' Delete',
    quizmaster_quiz_path( @quiz ), method: :DELETE,
    data: { confirm: "Are you sure that you want to delete this quiz?" }, class: "btn btn-outline-danger #{'disabled' if @quiz.questions.any?}" %>

    <div class="float-right">
      <%= link_to fa("clock") + ' Enqueue', quizmaster_quiz_enqueue_path( @quiz ), method: :POST, class: "btn btn-warning",
      data: { confirm: "Are you sure that the quiz is ready to go into the queue?" } %>
    </div>

    <% if @quiz.draft? %>
      <%= link_to fa("plus") + ' New', new_question_path( quiz_id: @quiz.id ),
      class: "btn btn-outline-primary float-right" %>
    <% end %>

  <% end %>


<% end %>



</div>

<hr>
<p>
  <strong>Quizbook</strong> <%= link_to @quiz.quizbook, quizmaster_quizbook_path( @quiz.quizbook ) %>
</p>

<h6><strong>Questions</strong></h6>
<ol>
  <% @quiz.questions.each do |question| %>
    <%= content_tag :li do %>
      <%= content_tag :span, strip_tags( markdown question.ask ) %>
      <%= content_tag :strong, question.answer %>
      <%= content_tag :i, pluralize( question.points, 'point' ) %>
    <% end %>
<% end %>
</ol>
