<h1>Edit answer form input</h1>
<p>
  <strong>Quiz</strong> <%= @answer_form_input.question.quiz %>
  <strong>Question</strong> <%= @answer_form_input.question %>
</p>

<%= form_with model: @answer_form_input, local: true do |form| %>

  <%= render "/errors", object: @answer_form_input %>

  <div class="form-group">
    <%= form.label :tag_attributes_json, "Tag attributes" %>
    <%= form.text_area :tag_attributes_json %>
  </div>


  <br>
  <%= form.submit :Save, class: "btn btn-primary" %>
<% end %>
