<% config = question.config || {} %>
<div class="rendered_markdown">
  <div class="row">
    <div class="col-md"><%= markdown( config["left_box"] ) %></div>
    <div class="col-md"><%= markdown( config["centre_box"] ) %></div>
    <div class="col-md"><%= markdown( config["right_box"] ) %></div>
  </div>
  <div class="ask">
    <%= markdown( question.ask ) %>
  </div>
  <%= render 'questions/partials/question/fields', form_type: "buttons", config: config %>
</div>
