<% config = form.object.config || {} %>

<script>

  function resizeTextArea(element) {
    element.style.height = "0px";
    element.style.height = (element.scrollHeight + 2)+"px";
  }

  $( document ).on('turbolinks:load', function() {
    document.querySelectorAll(".auto-height-text-area").forEach( function( element ) {
      resizeTextArea( element )
      element.addEventListener( 'input', function () { resizeTextArea( this ) } )
    } )

    $( '#aucklandEditNewButtonButton' ).on( 'click', function(e) {
      // debugger
      $( '#aucklandEditAnswerButtons' ).children().last().before( $( '#aucklandEditButtonTemplate' ).html() )
    } )

    $( '.auckland-edit-delete-button-button' ).on( 'click', function(e) {

      let target = $( e.target )
      let value = target.parent().prev().val()
      let confirmed

      if ( value.length ) {
        confirmed = confirm( "Are you sure that you want to delete button `" + value + "`?" )
      } else {
        confirmed = true
      }

      if ( confirmed ) target.parents(".form-group").remove()

    } )

  })

</script>

<p class="clearfix"><%= render '/questions/templates/auckland/help' %></p>

<div class="form-group">
  <%= form.label 'question[config_params][preamble]', "Preamble" %>
  <%= text_area_tag 'question[config_params][preamble]', config["preamble"], class: "form-control auto-height-text-area" %>
</div>

<div class="row">

  <div class="col form-group">
    <%= form.label 'question[config_params][left_box]', "Left" %>
    <%= text_area_tag 'question[config_params][left_box]', config["left_box"], class: "form-control auto-height-text-area" %>
  </div>

  <div class="col form-group">
    <%= form.label 'question[config_params][centre_box]', "Centre" %>
    <%= text_area_tag 'question[config_params][centre_box]', config["centre_box"], class: "form-control auto-height-text-area" %>
  </div>

  <div class="col form-group">
    <%= form.label 'question[config_params][right_box]', "Right" %>
    <%= text_area_tag 'question[config_params][right_box]', config["right_box"], class: "form-control auto-height-text-area" %>
  </div>

</div>


<div class="form-group">
  <%= form.label :ask %>
  <%= form.text_area :ask, class: "form-control auto-height-text-area" %>
</div>

<% #= hidden_field_tag 'question[config_params][form_type]', "buttons" %>

<% config = @question.config || {} %>
<% options = config["options"] || [] %>

<div id="aucklandEditAnswerButtons" class="row">

  <div class="col-md-12">
    <%= form.label 'question[config_params][options][]', "Buttons" %>
  </div>

  <% options.each.with_index do |option, i| %>

    <div class="col-md-3 form-group">
      <div class="input-group">
        <%= text_field_tag 'question[config_params][options][]', option, class: "form-control" %>
        <% if i >= 4 %>
          <div class="input-group-append">
            <button
              class="auckland-edit-delete-button-button btn btn-outline-secondary"
              type="button" >
              <%= fa 'times' %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <% buttonCount = options.length %>

  <% if buttonCount < 4 %>

    <% ( buttonCount + 1 .. 4 ).to_a.each do |option| %>

      <div class="col-md-3 form-group">
        <%= text_field_tag 'question[config_params][options][]', nil, class: "form-control" %>
      </div>

    <% end %>

  <% end %>

  <div class="col-md-3 form-group">
    <p>
      <button id="aucklandEditNewButtonButton" class="btn btn-outline-dark" type="button" title="New button">
        <%= fa "plus" %> New button
      </button>
    </p>
  </div>




</div>

<div class="row">

  <div class="col-sm-9 form-group">
    <%= form.label :answer %>
    <%= form.text_field :answer, class: "form-control" %>
  </div>

  <div class="col-sm-3 form-group">
    <%= form.label :points %>
    <%= form.number_field :points, class: "form-control" %>
  </div>

</div>

<div class="form-group">
  <%= form.label :explanation %>
  <%= form.text_area :explanation, class: "form-control auto-height-text-area" %>
</div>

<template id="aucklandEditButtonTemplate">
  <div class="col-md-3 form-group">
    <div class="input-group">
      <%= text_field_tag 'question[config_params][options][]', nil, class: "form-control" %>
      <div class="input-group-append">
        <button
          class="auckland-edit-delete-button-button btn btn-outline-secondary"
          type="button" >
          <%= fa 'times' %>
        </button>
      </div>
    </div>
  </div>

</template>
