<% config = form.object.config || {} %>
<% options = config["options"] || [] %>

<script>

  var resizeTextArea = function( element ) {
    element.style.height = "0px";
    element.style.height = (element.scrollHeight + 2)+"px";
  }

  var bindTextAreaResize = function() {
    document.querySelectorAll(".auckland textarea").forEach( function( element ) {
      resizeTextArea( element )
      element.addEventListener( 'input', function () { resizeTextArea( this ) } )
    } )
  }

  var bindNewButtonButtonClick = function() {
    $( '#aucklandEditNewButtonButton' ).on( 'click', function(e) {
      // debugger
      $( '#aucklandEditAnswerButtons' ).children().last().before( $( '#aucklandEditButtonTemplate' ).html() )
      bindDeleteButtonButtonClick()
    } )
  }

  var bindDeleteButtonButtonClick = function() {
    $( '.auckland-edit-delete-button-button' ).off( 'click' )
    $( '.auckland-edit-delete-button-button' ).on( 'click', function(e) {

      var target = $( e.target )
      var value = target.parent().prev().val()
      var confirmed

      if ( value.length ) {
        confirmed = confirm( "Are you sure that you want to delete button `" + value + "`?" )
      } else {
        confirmed = true
      }

      if ( confirmed ) target.parents(".form-group").remove()

    } )

  }

  $( document ).on('turbolinks:load', function() {
    bindTextAreaResize()
    bindNewButtonButtonClick()
    bindDeleteButtonButtonClick()

  })

</script>

<style>
.auckland textarea {
  font-family: monospace;
}
</style>

<p class="clearfix"><%= render '/questions/templates/auckland/help' %></p>

<div class="form-group">
  <%= form.label 'question[config_params][preamble]', "Preamble" %>
  <%= text_area_tag 'question[config_params][preamble]',
  config["preamble"], class: "form-control",
  disabled: @question.final_edit? %>
</div>

<%= form.label 'question[config_params][left_box]', "Body" %>
<div class="row">
  <div class="col form-group">
    <%= text_area_tag 'question[config_params][left_box]',
    config["left_box"],
    class: "form-control",
    disabled: @question.final_edit? %>
  </div>

  <div class="col form-group">
    <%= text_area_tag 'question[config_params][centre_box]',
    config["centre_box"],
    class: "form-control",
    disabled: @question.final_edit? %>
  </div>

  <div class="col form-group">
    <%= text_area_tag 'question[config_params][right_box]',
    config["right_box"],
    class: "form-control",
    disabled: @question.final_edit? %>
  </div>

</div>


<div class="form-group">
  <%= form.label :ask %>
  <%= text_area_tag 'question[config_params][ask]',
    config["ask"],
    class: "form-control",
    disabled: @question.final_edit? %>
</div>

<% #= hidden_field_tag 'question[config_params][form_type]', "buttons" %>


<div id="aucklandEditAnswerButtons" class="row">

  <div class="col-md-12">
    <%= form.label 'question[config_params][options][]', "Buttons" %>
  </div>

  <% options.each.with_index do |option, i| %>

    <div class="col-md-3 form-group">
      <div class="input-group">
        <%= text_field_tag 'question[config_params][options][]',
        option,
        class: "form-control",
        disabled: @question.final_edit? %>
        <% if i >= 4 %>
          <div class="input-group-append">
            <%= button_tag type: "button",
            class: "auckland-edit-delete-button-button btn btn-outline-secondary",
            disabled: @question.final_edit? do %>
              <%= fa 'times' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <% buttonCount = options.length %>

  <% if buttonCount < 4 %>

    <% ( buttonCount + 1 .. 4 ).to_a.each do |option| %>

      <div class="col-md-3 form-group">
        <%= text_field_tag 'question[config_params][options][]',
        nil,
        class: "form-control",
        disabled: @question.final_edit? %>
      </div>
    <% end %>

  <% end %>

  <div class="col-md-3 form-group">
    <p>
      <%= button_tag type: "button",
      id: "aucklandEditNewButtonButton",
      class: "btn btn-outline-dark",
      disabled: @question.final_edit? do %>
        <%= fa "plus" %> New button
      <% end %>
    </p>
  </div>

</div>

<div class="row">

  <div class="col-sm-9 form-group">
    <%= form.label :answer %>
    <%= text_field_tag 'question[config_params][answer]', config["answer"], class: "form-control" %>
  </div>

  <div class="col-sm-3 form-group">
    <%= form.label :points %>
    <%= number_field_tag 'question[config_params][points]',
    config["points"],
    class: "form-control",
    disabled: @question.final_edit? %>
  </div>

</div>

<div class="form-group">
  <%= form.label :explanation %>
  <%= text_area_tag 'question[config_params][explanation]', config["explanation"], class: "form-control" %>
</div>

<template id="aucklandEditButtonTemplate">
  <div class="col-md-3 form-group">
    <div class="input-group">
      <%= text_field_tag 'question[config_params][options][]', nil, class: "form-control" %>
      <div class="input-group-append">
        <button
          class="auckland-edit-delete-button-button btn btn-outline-secondary"
          type="button" >
          <%= fa 'times' %>
        </button>
      </div>
    </div>
  </div>

</template>
