<h1>Quizmaster</h1>

<p>
  <%= link_to fa("bars") + " List", '/quizzes', class: "btn btn-outline-primary" %>
  <%= link_to fa("plus") + " New", quizzes_path, method: :POST, class: "btn btn-outline-primary" %>
</p>

<div class="row">
  <div class="col">
    <h3>Drafts</h3>
    <%= render( collection: Quiz.drafts, partial: 'quizmasters/quiz' ) || content_tag( :p, "None" ) %>
  </div>
  <div class="col">
    <h3>Pending</h3>
    <%= render( collection: Quiz.pending, partial: 'quizmasters/quiz' ) || content_tag( :p, "None" ) %>
    <h3>Playing</h3>
    <%= render( collection: Quiz.playing, partial: 'quizmasters/quiz' ) || content_tag( :p, "None" ) %>
    <h3>Queued</h3>
    <%= render( collection: Quiz.queued, partial: 'quizmasters/quiz' ) || content_tag( :p, "None" ) %>
  </div>
</div>
