<%= form_with(url: @post.new_record? ? quizmaster_news_posts_path : quizmaster_news_post_path(@post), model: @post, local: true) do |form| %>

  <%= render "/errors", object: @post %>

  <div class="form-group">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, class: "form-control", placeholder: "Body" %>
  </div>


  <div class="form-group">
    <%= link_to :Cancel, quizmaster_news_posts_path, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
