<%= link_to fa("arrow-up"), plays_path( quiz_id: @play.quiz_id ), class: "btn btn-outline-primary float-right" %>

<h2>Quiz <%= @play.quiz_id %> results</h2>
<hr>

<%= link_to fa("arrow-right") + " Review", play_question_review_path( @play, @play.questions.first ), class: "btn btn-outline-primary float-right" if @play.questions.any? %>

<p>
  <% if false %>
  <strong>Quiz</strong> <%= @play.quiz.formatted_start %><br>
  <% end %>
  <strong>Started</strong> <%= time_ago_in_words @play.created_at %> ago
</p>

<h3>Your score: <%= @play.score %></h3>


<ol>
  <% @play.questions.each do |question| %>
    <li>
      <%= strip_tags markdown( question.ask ) %><br>
      <strong>
        <% answer = @play.answer_for question %>
        <%= answer.present? ? answer.join(", ") : content_tag( :i, "Not answered! ") %>
        <% points = @play.points_for question %>
      </strong>
      <%= pluralize points, 'point' %>
      <%= points.to_i > 0 ? fa("check") : ( fa("times") + ( question.answer ? " (#{question.answer})" : "" ) ) %>
      <%= link_to fa("arrow-right"), play_question_review_path( @play, question ) %>
    </li>
  <% end %>
</ol>
