<% previous_question = @question.previous_question %>
<% next_question = @question.next_question %>
<div class="float-right">
  <%= link_to fa("arrow-left") + " Previous", previous_question ? play_question_review_path( @play, previous_question ) : nil, class: "btn btn-outline-primary #{ previous_question ? "" : "disabled" }" %>
  <%= link_to fa("arrow-right") + " Next", next_question ? play_question_review_path( @play, next_question ) : nil, class: "btn btn-outline-primary #{ next_question ? "" : "disabled" }" %>
  <%= link_to fa("arrow-up"), member_play_path( @member, @play ), class: "btn btn-outline-primary" %>
</div>


<h2>Question <%= "#{@question.number} of #{@play.questions.count}" %></h2>
<hr>
<% #= @question.ask_html %>
<%= markdown @question.ask %>

<% answer_attempt = @play.answer_for( @question ).join(", ") %>
<% points_scored = @play.scored? ? @play.points_for( @question ) : nil %>

<%= render '/questions/partials/question/result',
      answer_attempt: answer_attempt,
      points_scored: points_scored,
      question: @question %>
