<%= banner "Quiz Result" %>

<div class="container">
  <%= link_to fa("arrow-up"), member_path( @member ), class: "btn btn-outline-primary btn-app float-right" %>

  <h2>Quiz <%= @play.quiz.number %> pending</h2>
  <hr>
  <h4>Results will be released on <%= @play.quiz.results_local.strftime("%v at %r") %> <%= @play.quiz.league.timezone %> time.</h4>

  <hr>
  <%= link_to fa("arrow-right") + " Review", member_play_question_review_path( @member, @play, @play.questions.first ), class: "btn btn-outline-primary btn-app float-right" if @play.questions.any? %>
  <ol>
    <% @play.questions.each do |question| %>
      <li>
        <%= strip_tags markdown( question.ask ) %><br>
        <strong>
          <% answer = @play.answer_for question %>
          <%= answer.present? ? answer.join(", ") : content_tag( :i, "Not answered! ") %>
        </strong>
        <%= link_to fa("arrow-right"), member_play_question_review_path( @member, @play, question ) %>
      </li>
    <% end %>
  </ol>
</div>
