<%= link_to fa("arrow-up"), question_path( @question ), class: "btn btn-outline-primary float-right" %>
<h3>
  <%= @question %> File
  #<%= @file.record.files.find_index( @file ) + 1 %>
</h3>

<p style="overflow-x: auto">
  <%= render 'file', file: @file %>
</p>
<%= link_to fa("trash") + ' Delete', question_file_path( @question, @file ), method: :DELETE, data: { confirm: "Are you sure that you want to delete this attachment?" }, class: "btn btn-outline-danger float-right" %>
