<%= link_to fa("arrow-up"), user_root_path(), class: "btn btn-outline-primary float-right" %>

<h2><%= current_user.email %></h2>
<hr>
<p>
  Change your username and/or password.
  <%= link_to "Edit my credentials", edit_user_registration_path, class: "btn-link" %>
</p>
<hr>
<p>
  If you need help, or if you have a suggestion, please send us a message.
  <%= link_to "Send QuizFC a message", new_user_support_path, class: "btn-link" %>
</p>
<hr>
<p>
  <% current_user.profile.members.each do |member| %>
    Review your played quizzes. <%= link_to "View my play history", member_plays_path( member ), class: "btn-link" %>
  <% end %>
</p>
<hr>
<p>
  <% current_user.profile.members.each do |member| %>
    Review the transactions on your account. <%= link_to "View my account history", member_account_path( member ), class: "btn-link" %>
  <% end %>
</p>
<hr>
<p>Unhappy. Want to leave QuizFC. <%= link_to "Terminate my account", user_termination_path %></p>
