<div class="primary_section">

  <h2>Home</h2>

  <%= Rails.application.secret_key_base %><br>
  <% begin %>
  <%= Devise.secret_key %>
  <% rescue %>
  No key
  <% end %><br>

  <% if false %>
    <p>
      <strong>Next quiz</strong>
      <%= @profile.next_quiz.id %><br>
      <%= link_to @profile.next_quiz.formatted_start, plays_path( quiz_id: @profile.next_quiz.id ) %>
    </p>
  <% end %>

  <div class="row">

    <div class="col-sm">
      <h4>Unplayed quizzes</h4>
      <%= content_tag(:i, :None) unless @profile.unplayed_quizzes.any? %>
      <% @profile.unplayed_quizzes.each do |quiz| %>
        <%= link_to "Quiz #{quiz.id}", plays_path( quiz_id: quiz.id ), class: "btn btn-link" %><br>
        <% #= button_to "Quiz #{quiz.id}", plays_path, params: { quiz_id: quiz.id }, method: :POST, class: "btn btn-link" %>
      <% end %>
    </div>

    <div class="col-sm">
      <h4>Played quizzes</h4>
      <%= content_tag(:i, :None) unless @profile.played_quizzes.any? %>
      <% @profile.played_quizzes.each do |quiz| %>
        <%= link_to "Quiz #{quiz.id}", plays_path( quiz_id: quiz.id ), class: "btn btn-link" %><br>
      <% end %>
    </div>

  </div>

</div>
