<%= banner("Support") %>

<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h4>User account links</h4>

    </div>

    <div class="col-sm-8 offset-sm-2">

      <p>
        <%= link_to( "Sign in", new_user_session_path ) %><br>
        <%= link_to( "Sign up", new_user_registration_path ) %><br>
        <%= link_to( "Forgot password", new_user_password_path ) %><br>
        <%= link_to( "Resend confirmation", new_user_confirmation_path ) %>
      </p>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h4>Send a message to QuizFC</h4>

    </div>
    <div class="col-sm-8 offset-sm-2">

      <p>
        Open <%= mail_to 'support@quizfc.com' %> in your system's email client, or use the form below.
      </p>

      <div class="form-wrapper">

        <%= form_for :contact, url: support_path do |f| %>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_field :to, disabled: :disabled,
                value: "To: support@quizfc.com",
                class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_field :email,
                type: "email",
                placeholder: "Your email address",
                class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_area :message,
                placeholder: "Your message",
                autofocus: true,
                rows: 15,
                class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-buttons">
            <%= link_to "Cancel",
            root_path,
            class: "btn btn-outline-secondary btn-app float-left" %>
            <%= f.button type: :submit,
            class: "btn btn-outline-primary btn-app float-right" do %>
              Send
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>

</div>
