<!DOCTYPE html>
<html lang="en">

  <head>

    <title>QuizFC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if layout == "admin" %>
      <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <% end %>

  </head>

  <body class="<%= controller_name == 'landings' ? 'landing' : '' %>">

    <div class="container-fluid">
      <%= render '/layouts/navbar' %>
    </div>
    <div class="container">
      <%= render '/layouts/flash_messages' %>
    </div>
    <main class="<%= controller_name == 'landings' ? '' : 'container page' %>">
      <%= yield %>
    </main>
    <% if devise_controller? %>
      <%= render '/layouts/supporters' %>
    <% end %>
    <% if controller_name == 'landings' || devise_controller? %>
    <%= render '/layouts/footer' %>
    <% end %>

  </body>
</html>
