<!DOCTYPE html>
<html lang="en">

  <head>

    <title>QuizFC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= controller_name == 'index' ? 'landing' : '' %>">

    <div class="container-fluid">
      <%= render '/layouts/navbar' unless controller_name == 'index' %>
    </div>
    <div class="container">
      <%= render '/layouts/flash_messages' %>
      <div class="<%= controller_name == 'index' ? '' : 'page' %>">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
