<%= banner("My Account") %>

<div class="container">

  <div class="row">

    <% live_quizzes_groups = @member.live_quizzes_groups %>

    <% if live_quizzes_groups.any? %>
      <% [ :current, :waiting ].each do |status| %>
        <% quizzes = ( live_quizzes_groups[ status ] || [] ) %>
        <% if quizzes.any? %>
          <% quizzes.each do |quiz| %>

            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <% if status == :current %>
                    <h5>Latest Quiz</h5>
                    <hr>
                    <p>
                      The latest quiz (<%= quiz %>) is ready to play.
                    </p>
                    <p>
                      <%= link_to "Play #{ quiz } Now", member_plays_path( @member, quiz_id: quiz.id ), method: :POST, class: "" %>
                    </p>
                  <% else %>
                    <h5>Upcoming Quiz</h5>
                    <hr>
                    <p>
                      <%= quiz %> will start in <%= time_ago_in_words quiz.start_local, vague: true %> at:
                    </p>
                    <p>
                      <%= quiz.start_local.strftime("%v at %r") %> <%= quiz.league.timezone %> time.
                    </p>
                  <% end %>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% @member.currently_playing.each do |play| %>

      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5>In Play</h5>
            <hr>
            <p>
              You have started and not finished <%= play.quiz %>.
            </p>
            <p>
              <%= link_to "Resume Play", member_play_path( @member, play ), class: "" %>
            </p>
          </div>
        </div>
      </div>

    <% end %>

    <% finished_playing_groups = @member.finished_playing_groups %>

    <% [ :current, :pending, :results, :closed ].each do |status| %>
      <% plays = ( finished_playing_groups[ status ] || [] ) %>
      <% plays.each do |play| %>

        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5>
                Quiz
                <% if status == :current %>
                  Completed
                <% else %>
                  <%= status.to_s.titleize %>
                <% end %>
              </h5>
              <hr>
              <p>
                You have played <%= play.quiz %>.
                <% if play.results? %>
                  You scored <%= pluralize( play.result[:score], 'point' ) %>
                <% else %>
                  Waiting to be scored.
                <% end %>
              </p>
              <p>
                <%= link_to "Review Quiz", member_play_path( @member, play ), class: "" %>
              </p>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>

    <% published_posts = @member.league.published_posts %>
    <% published_posts.each do |post| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="float-right"><small><%= time_ago_in_words post.updated_at, vague: true %> ago</small></div>
            <h5>News</h5>
            <hr>
            <p><%= post.title %></p>
            <p><%= link_to "Read News Post", member_news_post_path( post ) %></p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>
            Wallet
          </h5>
          <hr>
          <p>
            Your Quizbuck Balance is <strong><%= number_to_currency( @member.account.balance, unit: "Q$" ) %></strong>
          </p>
          <p>
            <%= link_to "Add Quizbucks Here", new_member_account_add_money_path( @member ), class: "" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Send QuizFC a Message</h5>
          <hr>
          <p>
            Contact us for support or suggestions.
          </p>
          <p>
            <%= link_to "Send a message", new_user_support_path, class: "" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Quiz History</h5>
          <hr>
          <p>
            Review your played quizzes.
          </p>
          <p>
            <% current_user.profile.members.each do |member| %>
              <%= link_to "View my play history", member_plays_path( member ), class: "" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Transaction History</h5>
          <hr>
          <p>
            Review the transactions on your account.
          </p>
          <p>
            <% current_user.profile.members.each do |member| %>
              <%= link_to "View my account history", member_account_path( member ), class: "" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>



  </div>
</div>
