<%= banner("My Account") %>

<div class="container">

  <div class="row mt-4">

    <% @member.currently_playing.each do |play| %>

      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5>In Play</h5>
            <hr>
            <p>
              You have started and not finished <%= play.quiz %>.
            </p>
            <p>
              <%= link_to "Resume Play", member_play_path( @member, play ), class: "" %>
            </p>
          </div>
        </div>
      </div>

    <% end %>



    <% live_quizzes_groups = @member.live_quizzes_groups %>

    <% if live_quizzes_groups[:current] && live_quizzes_groups[:current].any? %>

      <% quiz = live_quizzes_groups[:current].first %>

      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5>Latest Quiz</h5>
            <hr>
            <p>
              The latest quiz (<%= quiz %>) is ready to play.
            </p>
            <p>
              <%= link_to "Play #{ quiz } Now", member_plays_path( @member, quiz_id: quiz.id ), method: :POST, class: "" %>
            </p>
          </div>
        </div>
      </div>

    <% elsif live_quizzes_groups[:waiting] && live_quizzes_groups[:waiting].any? %>


      <% quiz = live_quizzes_groups[:waiting].first %>

      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5>Latest Quiz</h5>
            <hr>
            <p>
              <%= quiz %> will start in <%= time_ago_in_words quiz.start_local, vague: true %> at:
            </p>
            <p>
              <%= quiz.start_local.strftime("%v at %r") %> <%= quiz.league.timezone %> time.
            </p>
          </div>
        </div>
      </div>

    <% else %>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Latest Quiz</h5>
          <hr>
          <p>There are no queued quizzes.</p>
          <p>A new quiz will be published soon.</p>
        </div>
      </div>
    </div>

    <% end %>


    <% finished_playing = @member.finished_playing %>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>
            My Results
          </h5>
          <hr>
          <p>
            <%= pluralize finished_playing.count, "quiz" %>.
          </p>
          <p>
            <%= link_to "Review Completed Quizes", member_results_path( @member ), class: "" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>
            Account Balance
          </h5>
          <hr>
          <p>
            Your Quizbuck Balance is: <strong><%= number_to_currency( @member.account.balance, unit: "Q$" ) %></strong>.
          </p>
          <p>
            <%= link_to "Add Quizbucks Here", new_member_account_add_money_path( @member ), class: "" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>News</h5>
          <hr>
          <% count = @member.league.published_posts.count %>
          <% if count.zero? %>
            <p>There is no news</p>
          <% else %>
            <p>There <%= count === 1 ? 'is' : 'are' %> <%= pluralize @member.league.published_posts.count, "news post" %>.</p>
            <p><%= link_to "Read News", member_news_posts_path( member_id: @member.id) %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Manage User</h5>
          <hr>
          <p>
            Manage your sign in credentials.
          </p>
          <p>
            <%= link_to "Manage User Account", user_management_path, class: "" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Send QuizFC a Message</h5>
          <hr>
          <p>
            Contact us for support or suggestions.
          </p>
          <p>
            <%= link_to "Send Message", new_user_support_path, class: "" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Quiz History</h5>
          <hr>
          <p>
            List your played quizzes.
          </p>
          <p>
            <% current_user.profile.members.each do |member| %>
              <%= link_to "View History", member_plays_path( member ), class: "" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5>Transaction History</h5>
          <hr>
          <p>
            Review the transactions on your account.
          </p>
          <p>
            <% current_user.profile.members.each do |member| %>
              <%= link_to "View my account history", member_account_path( member ), class: "" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
