<div class="float-right">
  <%= link_to fa("trophy") + " Leagues", comptroller_leagues_path, class: "btn btn-outline-primary" %>
  <%= link_to fa("file-invoice-dollar") + " Accounts", comptroller_accounts_path, class: "btn btn-outline-primary" %>
</div>

<h2>Comptroller</h2>

<% @leagues.each do |league| %>
  <div class="float-right">
    <%= link_to fa("money-bill-alt ") + " Transact", new_comptroller_transactor_path( league_id: league.id ), class: "btn btn-outline-primary" %>
  </div>
  <h3>
    <%= league %>
    <small><%= link_to fa("arrow-right"), comptroller_account_path( league.account ) %></small>
  </h3>
  <strong>Balance</strong> <%= number_with_precision league.account.balance, precision: 2 %>
  <br>
<% end %>
